<!-- One -->
<section id="one">
	<header class="major">
		<h2>
			I am an artist, programmer, and aspiring game dev.
		</h2>
	</header>
	<p>
		I am from --- and am a student at --. I've been doing -- for -- long.
	</p>
</section>
