---
import avatar from '/assets/avatar.jpg';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
		<h1>
			Hello!<br />
			Thanks for visiting my page :)<br />
			Enjoy!
		</h1>
	</div>
</header>
